body {
    font-family: arial;
}

#content {
    margin: auto;
    width: 50%;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.Footer {
    background-color: rgba(233, 152, 30, 0.911);
    border: 2px solid black;
    margin: 200px;
    border-radius: 10px;
}

#categoryTitle {
    font-size: 50px;
    border: 3px solid black;
    border-radius: 5px;
}

#categoryTitle::first-letter {
    text-transform: capitalize;
}

.titel-2 {
    font-size: 40px;
    margin: 5px;
    border-radius: 10px;
    border: 3px solid black;
}






#FoodGenres {
    display: flex;
    flex-wrap: wrap;
}

.FoodGenre {
    margin: 5px;
    background-color: grey;
    width: 300px;
}

.FoodGenreTitle {
    height: 20px;
}

.FoodGenreImg img {
    width: 500px;
}

.recipeShortDesc {
    height: 20px;
}

#FoodGenreDivSize {
    width: 800px; 
}





#recipes {
    display: flex;
    flex-wrap: wrap;
}

.recipe {
    margin: 5px;
    background-color: grey;
    width: 400px;
}

.recipeTitle {
    height: 20px;
}

.recipeImg img {
    height: 260px;
}

.recipeShortDesc {
    height: 20px;
}

.InfosForRecipe {
    border-radius: 10px;
    border: 2px solid rgb(119, 119, 119);
    font-size: 30px;
}






table, tr, td {
    border-spacing: 0px;
}

.tableEven {
    background-color: #cccccc;
}

.tableOdd {
    background-color: #ffffff;
}

#ingredientTable {
    font-size: 30px;
}

.methodStepCol1 {
    width: 100px;
}




.ingAmount {
    width: 200px;
}

.ingName {
    width: 400px;
}

#NutritionalValuesTable {
    font-size: 30px;
}





#text {
    font-size: 30px;
}

.img {
    height: 530px;
}

.InfoRecipeImg {
    height: 25px;
}





#header {
    width: 95%;height: 150px;
    background-color:rgba(233, 152, 30, 0.911);
    border-radius: 10px 10px 0px 0px;
    margin-top: 50px;
}
#title  {
    font-size: 60pt;
    color:white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 10px;
    padding: 10px;
    text-align: center;
}
.logo {   
    position: relative;
    top:21px; 
    left:16px;
    border-radius: 10px;
    height: 75%;
}

ul {
    list-style-type: none;
    margin-bottom: 30px;
    margin-top: 0px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 95%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

  